[Unit]
Description=record and playback recorded messages with the telephone
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Telefeedback/feedbackphone.py
WorkingDirectory=/home/pi/feedbackphone
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
